@model IEnumerable<GhumGham_Nepal.DTO.PlaceDTO>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

@{
    ViewData["Title"] = "Destination";
}

@using (Html.BeginForm())
{
    <div class="container" style="padding-top:100px;">

        <div class="topnav">

            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        @if (User.Identity != null && User.Identity.IsAuthenticated)
                        {
                            <a asp-action="Create" class="btn btn-primary btn-lg mt-5 mx-5">
                                <i class="fa fa-plus" style="font-size:30px;" aria-hidden="true"></i>
                            </a>
                        }
                    </div>
                    <div class="col">
                        <h3 class="heading2">
                            <span class="space"></span>
                            <span>p</span>
                            <span>l</span>
                            <span>a</span>
                            <span>c</span>
                            <span>e</span>
                            <span>s</span>

                            <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">
                        </h3>
                    </div>
                </div>
            </div>

        </div><br>



        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4  ">
                    <div class="card mb-5 shadow-sm pb-4 " style="border-radius:30px 30px 30px 30px ;">
                        <img class="card-img-top animation-c" style="border-radius:30px 30px 0 0 ; height:300px;" src="@item.ThumbnailUrl" alt="Card image cap">
                        <div class="card-body">

                            <h2>
                                <i class="fa fa-map-marker" style="font-size:20px;color:orange;"></i>
                                @item.PlaceName
                            </h2>

                            <p class="card-text ml-1">@item.Introduction</p>

                            <div class="stars" style="font-size:17px;color:orange; margin-left:3px;">
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </div>

                            <a asp-action="Details" asp-route-id="@item.Id" class="btn-SeeMore rounded-pill mx-2">See More...</a>

                            <div class="btn-group  ">

                                <div class="d-flex justify-content-between align-items-center">

                                    @if (User.Identity != null && User.Identity.IsAuthenticated)
                                    {
                                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success btn-lg rounded-pill mx-2">Edit</a>

                                        <button type="submit" onclick="return confirm('Are you sure to delete @item.PlaceName?')" asp-controller="Places"
                                    asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-lg rounded-pill mx-2">
                                            Delete
                                        </button>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
}

